*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

h1 {
    text-align: center;
    margin: 50px auto 30px;
}


#container{
    padding: 20px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product{
    border: 1px solid;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;

}


.product-img{
    width: 140px;
    height: 120px;
    margin: 10px
}


form{
    text-align: center;
}


#container{
    border: 1px solid whitesmoke;
    margin: 50px 20px;
    padding: 20px 10px;
}

.prev-price{
    color: grey;
    text-decoration: line-through;
    font-size: 0.85rem;
}

#search-btn{
    background: blue;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}


#search-input{
    padding: 10px 20px;
    caret-color: blue;
    font-size: 1.2rem;
    outline-color: blue;
    border-radius: 20px;
}
